* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Cyan: hsl(179, 62%, 43%);
  --BrightYellow: hsl(71, 73%, 54%);
  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
  background-color: var(--LightGray);
  min-height: 100vh;
}

.container {
  width: 650px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
}

.container-top {
  padding: 40px;
  background-color: white;
  text-align: start;
}

h2.community {
  color: var(--Cyan);
  margin-bottom: 10px;
  font-size: 24px;
}

h4 {
  color: var(--BrightYellow);
  margin-bottom: 15px;
  font-size: 18px;
}

p.gain {
  color: var(--GrayishBlue);
  line-height: 1.5;
  text-align: start;
  width: 500px;
}

.container-bottom {
  display: flex;
  background-color: var(--Cyan);
}

.container-s-1,
.container-s-2 {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--LightGray);
}

.container-s-1 {
  background-color: var(--Cyan);
}

.container-s-2 {
  background-color: hsl(179, 62%, 48%);
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

h2 span {
  font-size: 14px;
  text-align: start;
}

p {
  font-size: 14px;
  text-align: start;
}

button {
  padding: 15px 0;
  width: 80%;
  background-color: var(--BrightYellow);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: hsl(71, 63%, 40%);
}

@media (max-width: 768px) {
  .container {
    width: 85%;
    margin: 50px;
  }

  .container-bottom {
    flex-direction: column;
    text-align: start;
  }
  p.gain {
    color: var(--GrayishBlue);
    line-height: 1.5;
    text-align: start;
    width: 310px;
    padding-right: 40px;
  }

  .container-s-1,
  .container-s-2 {
    width: 100%;
    padding: 50px;
  }
  button {
    width: 100%;
  }
  .container-s-2 {
    display: flex;
    justify-content: flex-start;
  }
}
